<%= will_paginate @patients, renderer: BootstrapPagination::Rails %>

<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Patient Key</th>
          <th>Function</th>
        </tr>
      </thead>
      <tbody>
        <% @patients.each do |p| %>
          <tr>
            <td><%= p.name %></td>
            <td>
              <%= p.pid.nil? ? "無 PID" : link_to(p.pid, :controller => "patients", :action => "show", :pid => p.pid) %>
            </td>
            <td><%= link_to p.patient_key, patient_key_path(p) %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <!-- for quick access of reports -->
  </div>
</div>