<h1>Patients#show</h1>

<table>
  <caption>Spine</caption>
  <thead>
    <tr>
      <td>AREA</td>
      <td>BMC</td>
      <td>BMD</td>
    </tr>
  </thead>
  <tbody>
  <% @patient.Spines.each do |spine| %>
    <tr>
      <td><%= spine.area %></td>
      <td><%= spine.bmc %></td>
      <td><%= spine.bmd %></td>
    </tr>
  <% end %>
  </tbody>
</table>

