// Place all the styles related to the Studies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-group + .panel-group {
  margin-top: 5px;
}

.panel {
  .table {
    margin-bottom: 0px;
  }
}

.patient-info {
  table {
    .col-pt-info-item {
      width: 90px;
    }
  }
}